@@charset "UTF-8";
body {
  font-family: "Avenir Next";
}

li {
  list-style: none;

}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 100px;
}

.header-logo {
  float: left;
  font-size: 40px;
  padding: 20px 40px;
}


.header-list li {
  font-size:30px;
  float: left;
  padding: 33px 20px;
}


.main {
  padding: 100px 80px;
   text-align: center;
}

.copy-container h1 {
  background-color: skyblue;
  width:600px;
  height:120px;
  font-size: 90px;
  color:rgba(255,0,0,0)
  font-family:verdana,sans-serif;
  margin-left: 300px;
  border-style:solid;
  boder-color:blue;
  border-radius: 10px;



}

.copy-container h2 {
  font-size: 50px;
  color:orange;
}

.copy-container span {
  color: #ff4a4a;
}

.contents {
  height: 500px;
  margin-top: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 40px;
  width:40;
  height:40;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contents-price{
  font-size: 28px;
  margin-left: 30px;
  border-bottom: 2px solid #dee7ec;
   text-decoration: underline;
}
h3{
  font-size:24px;
  color: #ff4a4a;
}



.contact-form {
  padding-top: 100px;
}

.order a{
font-size:30px;

}


input, textarea {
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size: 18px;
  border:1px solid #dee7ec;
}

/* contact-submitのCSSを指定してください */
.contact-submit{
  background-color :#dee7ec;
  color:#889eab;
}


.footer {
  background-color: #2f5167;
  color: #fff;
  height: 80px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}


@media (max-width: 670px) {
  .item {
    width: 100%;
  }
}
